/* DBTow 10-000HoursProject */

body {
  background: url('/public/images/stardewbackground.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #ffeb3b;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.chart-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  width: 80%;
}

button {
  background-color: #ffeb3b;
  border: none;
  color: #3e2723;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fdd835;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  width: 50%;
}
